{% extends 'home/base.html' %}
{% block title %}Contact Us {% endblock %}
{% block body %}
<div class="bg4" ></div>
<h1  style=" font-size: 72px;">Contact Us</h1>
<div style="padding:40px; padding-left:64px;">
    <p ><strong>IIT Madras Address:</strong><br>
Indian Institute of Technology Madras (IIT Madras)<br>
Sardar Patel Road, Guindy<br>
Chennai, Tamil Nadu 600036<br>
India</p>
    <strong>Fax :</strong> 91-044-2257 0509<br>

<strong>Website:</strong> <a href="http://www.iitm.ac.in">http://www.iitm.ac.in</a>
</div>
<div >
 <table align="center" border="1" cellpadding="2" cellspacing="0" class="matt" width="90%">
 <tbody>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>General Information about IIT</strong>
    </td>
  </tr>
  <tr>
    <td>Public Relations Officer</td>
    <td>
      <strong>Tel : </strong> 2257 8133, <strong>Fax : </strong> 2257 8135, <strong>Email : </strong>
      <a href="mailto:tppro@iitm.ac.in">tppro@iitm.ac.in</a>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>Questions about admission to B.Tech programme </strong>
    </td>
  </tr>
  <tr>
    <td>
      <span>Deputy Registrar</span> (Academic)
    </td>
    <td>
      <strong>Tel : </strong> 2257 8033, <strong>Fax: </strong> 2257 0509, <strong>Email : </strong>
      <a href="mailto:dracad@iitm.ac.in">dracad@iitm.ac.in</a>

    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>Information about Entrance Examinations. </strong>
    </td>
  </tr>
  <tr>
    <td>JEE / GATE / MBA</td>
    <td>

    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>Questions about self-financed programmes of study (B.Tech. and M.Tech.)</strong>
    </td>
  </tr>
  <tr>
    <td>Deputy Registrar (Academic)</td>
    <td>
      <strong>Tel : </strong> 2257 8033 , <strong>Fax : </strong> 2257 0509, <strong>Email : </strong>
      <a href="mailto:dracad@iitm.ac.in">dracad@iitm.ac.in</a>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong> Questions about admissions to <span>Research</span> Programmes </strong>
    </td>
  </tr>
  <tr>
    <td>Deputy Registrar (Academic)</td>
    <td>
      <strong>Tel : </strong> 2257 8033, <strong>Fax : </strong> 2257 0509, <strong>Email : </strong>
      <a href="mailto:dracad@iitm.ac.in">dracad@iitm.ac.in</a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <strong>Queries about Students in Campus about Students in Campus</strong>
    </td>
  </tr>
  <tr>
    <td>Dean (Students)</td>
    <td>
      <strong>Tel : </strong> 2257 8050, <strong>Email : </strong>
      <a href="mailto:deanstud@iitm.ac.in">deanstud@iitm.ac.in</a>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>Information pertaining toTranscripts</strong>
    </td>
  </tr>
  <tr>
    <td>Deputy Registrar (Academic)</td>
    <td>
      <strong>Tel : </strong> 2257 8033, <strong>Fax : </strong> 2257 0509, <strong>Email : </strong>
      <a href="mailto:dracad@iitm.ac.in">dracad@iitm.ac.in</a>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>Information on Alumni</strong>
    </td>
  </tr>
  <tr>
    <td>IITM Alumni Association</td>
    <td>
      <strong>Tel : </strong> 2257 8765, <strong>Email : </strong>
      <a href="mailto:alumni@iitm.ac.in">alumni@iitm.ac.in</a>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>Administrative Matters.</strong>
    </td>
  </tr>
  <tr>
    <td>Registrar</td>
    <td>
      <strong>Tel : </strong> 2257 8100, <strong>Fax: </strong> 2257 0509
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong> Information pertaining to <span >recruitment</span> of Faculty </strong>
    </td>
  </tr>
  <tr>
    <td>Dean Administration</td>
    <td>
      <strong>Tel : </strong> 2257 8020
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>Information Relating to Industrial Consultancy. </strong>
    </td>
  </tr>
  <tr>
    <td>Dean IC &amp;SR Chief Technoeconomic Officer Sr. Technoeconomic Officer</td>
    <td>
      <strong>Tel : </strong> 2257 8060 (DEAN), 2257 8063 (CTEO), 2257 8064 (Sr. TEO) 2257 8065 (Sr. TEO), <strong>Fax : </strong> 2257 0545 (DEAN)

    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong> Campus <span >Security</span>
      </strong>
    </td>
  </tr>
  <tr>
    <td>Chief Security Officer</td>
    <td>
      <strong>Tel : </strong> 22578261, <strong>Email : </strong>
      <a href="mailto:secsec@iitm.ac.in">secsec@iitm.ac.in</a>

    </td>
  </tr>
  <tr>
    <td>Duty Room</td>
    <td>
      <strong>Tel : </strong> 22578280
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffcc" colspan="2">
      <strong>The emails</strong> (office) <strong>of some departments.</strong>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <strong>Aerospace Engg. :</strong>
      <a href="mailto:office@aero.iitm.ernet.in">aero.iitm.ernet.in</a>
      <br />
      <strong>Applied Mechanics :</strong>
      <a href="mailto:apoffice@iitm.ac.in">apoffice@iitm.ac.in</a>
      <br />
      <strong>
        <span>Computer Science</span> &amp;Engg. : </strong>
      <a href="mailto:csoffice@iitm.ernet.in">csoffice@iitm.ernet.in</a>
      <br />
      <strong>Metallurgical Engg. :</strong>
      <a href="mailto:mtoffice@iitm.ac.in">mtoffice@iitm.ac.in</a>
      <br />
      <strong>CCE :</strong>
      <a href="mailto:chaircce@iitm.ac.in">chaircce@iitm.ac.in</a>
      <br />
      <strong>SAIF :</strong>
        <a href="head@rsic.iitm.ernet.in">rsic.iitm.ernet.in</a>

    </td>
  </tr>
</tbody></table></div>
{% endblock %}