{% extends 'home/base.html' %}
{% block title %}How to Reach {% endblock %}
{% block body %}
<div class="block1" style="height:540px;" >
<div class="text-block" style="margin:40px; font-size:25px">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15550.563884192528!2d80.22290367356892!3d12.994800254640479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526781f3ce0c6b%3A0x41368df84c6db350!2sIndian%20Institute%20Of%20Technology%2C%20Chennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1694905659364!5m2!1sen!2sin"  style="width:100%; height:100%; border:0; object-fit:cover;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</div >
<div class="text-block" style="margin:40px; padding:40px; font-size:25px">
    <h2>IIT Madras Address:</h2>
  <p>
    Indian Institute of Technology Madras (IIT Madras)<br>
    Sardar Patel Road, Guindy<br>
    Chennai, Tamil Nadu 600036<br>
    India
  </p>
</div>
</div>

<h1>How to Reach IIT Madras</h1>
<div style="padding:40px; font-size:15px;">
    <h2>After Reaching Chennai</h2>
    <p>
        The IIT Madras campus is located on the Sardar Patel Road, half-way between the Raj Bhavan
        and the Adyar bus terminus, i.e. about 12 kms from Chennai Central. The other landmarks are
        the Guindy Snake Park adjacent to the IIT main gate and the Central Leather Research
        Institute (CLRI) campus lying opposite to ours. The travel time from the airport, railway
        stations or Koyambedu bus terminus is approximately 45 mins.
    </p>

    <h2>From Chennai Central Railway Station</h2>
    <h4>Taxi</h4>
    <p>
        If you have heavy luggage or with a group of more than 3 persons, it would be
        convenient for you to hire an auto or a taxi. The Chennai Central Railway Station has a
        system of pre-paid autos and taxis. Else, you can travel by call taxi. There is a token booth
        for call taxis outside the station. Alternatively, you may also choose to hire an auto or taxi
        yourself. The fare to the campus from Chennai Central will be around Rs. 250- 300/- for a
        taxi, which will drop you at the hostels, which are about 3.2 kms from the IIT main gate.
        Taxis can either be pre-paid (the facility is available just outside the Chennai Central railway
        station), or can be booked with any taxi operator like Ola or Uber.
    </p>
   <h4>Auto rickshaws</h4>
<p>It is important to note that auto rickshaws in Chennai do not run on metre. The fare quoted
by the driver is generally unreasonably high, so it is advisable to bargain and haggle, starting
with about Rs.30-50 lesser than the quoted fare. The fare will be about Rs. 130/- for an autorickshaw.</p>
<h4>Local Train</h4>
<p>1. Use the subway and cross the street in front of the Chennai Central Railway Station, to
reach Park Town station.<br>
2. Get tickets for train going to Kasturibai Nagar (Adyar). You can get a train every 20
minutes on weekdays during 4:20 am to 10:30 pm and every 30 minutes on weekends
during 7 a.m. to 9 p.m.<br>
3. On reaching Kasturibai Nagar, get down and ask for Sardar Patel Road or IIT Madras.
The In-gate of IIT Madras is at a walking distance of 5 minutes from the station.
You can also go to Park Railway Station opposite the Central station and take a local
train to Guindy or Saidapet station and reach the campus from there by the buses
mentioned below. We advise you not to use this mode if you are travelling with a
heavy luggage.</p>

<h4>City Bus</h4>
<p>If you are travelling with light luggage, you can take a city bus to IIT. The bus stop is right
opposite the Central Station. You could use the subway to cross the road which is
perpetually busy. Your options are:<br>
1. The direct buses to the campus are 19B and 5C. If you take any of them, get down
at Gandhi Mandapam or CLRI, which is at walking distance from the IIT main gate.<br>
2. You can also take any bus to Saidapet and from there, any bus heading for Adyar or
Besant Nagar Adyar (5B, 47, 47A, 47D, 23C etc.) which will drop you right in front of
the IIT gate, on the opposite side.<br>
3. You could also take any bus to Adyar; there are frequent buses from Adyar Signal to
the campus.</p>

<h3>FROM CHENNAI EGMORE RAILWAY STATION</h3>
<p>You can take 23C to IIT or a 23E, 23A, 23G to Adyar signal from where there are a number
of buses to IIT. Current auto and taxi fares from Egmore are around Rs. 120/- and Rs. 180/-
respectively. You can also make use of Call Taxi, Ola, or Uber. Alternatively, a local train
to Guindy can be taken.</p>
<h3>FROM CHENNAI INTERNATIONAL AIRPORT</h3>
<p>If you arrive at the Chennai Meenambakkam Airport, you can make your way to the Institute
in a Call Taxi, Ola, or Uber. PrePaid Taxis from the airport to inside the campus cost about
Rs.250. Or take a bus, PP21.</p>
<h3>FROM BUS TERMINUS, CMBT, KOYAMBEDU</h3>
<p>
Chennai interstate/intercity bus terminus is called Chennai Mofussil Bus Terminus,
commonly known as CMBT. From CMBT, you can come to institute by taking city bus
23M or by Call Taxi, Ola, or Uber. On the way if your bus stops at Anna University or
CLRI
</p>
    <h2>After Reaching IIT Madras</h2>
    <p>
        Once you reach the In-gate, there are buses to Gajendra Circle (near the administrative block
        and Central Library), the academic zone and the hostels (they are around 3.8 km from the main
        gate) almost every 15 minutes during 6 a.m. to 10 p.m. The following are the ways to reach IIT
        from railway stations, airport, and bus terminus.
    </p>
</div>
 {% load static%}>

{% endblock %}