{% extends 'home/base.html' %}
{% block title %}guest house {% endblock %}
{% block body %}
 {% load static%}
<div class="bg1" ></div>
<div class="block1" >
<h1 id="typing-effect"> </h1>
<div class="text-block" style="padding:30px; font-size:25px; height:465px;">
<p>We invite you to embark on a digital journey that captures the essence of our prestigious guest house. Nestled within the lush green campus of the Indian Institute of Technology Madras, our guest house offers a tranquil retreat for visitors from far and wide. As you explore this website, you'll discover a seamless blend of modern comfort and traditional hospitality, where every detail has been meticulously crafted to ensure your stay is nothing short of exceptional. From elegantly appointed rooms to seamless booking experiences, we are here to make your visit to IIT Madras an unforgettable one</p>
Come to explore and experience it all with us:)
</div >
<div class="image-block" style="text-align:center;">
<img src="{% static 'home/slid4.jpg'%}" height="450" width="600" style="padding-top: 30px; padding-bottom: 30px; border-radius:80px;" >
</div>
</div>
<div class="bg2" ></div>
<div class="block1" style="background-color:#faf5fa; " >
<h1 id="main-text2"> Luxurious Amenities and Lavish Facilities ! </h1>
<div class="image-block" style="text-align:center;">
<img src="{% static 'home/slid5.jpg'%}" height="450" width="600" style="padding-top: 30px; padding-bottom: 30px; border-radius:80px;" >
</div>
<div class="text-block" style=" font-size:40px width:45% height:440px; margin:40px;">

<div class="scroll" style=" height:440px;">
    <ul id="nobullet" style="font-size:25px">
  <li><i class="fas fa-shuttle-van"></i> Airport and Stations Pick & Drop</li>
  <li><i class="far fa-clock"></i> 24/7 Front Desk</li>
  <li><i class="fas fa-wifi"></i> Complimentary High-Speed Wireless Internet</li>
  <li><i class="fas fa-tv"></i> Flat-Screen TV with 100+ Channels</li>
  <li><i class="fas fa-tint"></i> Complimentary Bottled Water</li>
  <li><i class="fas fa-coffee"></i> Tea and Coffee Maker</li>
  <li><i class="fas fa-utensils"></i> Mini-Refrigerator</li>
  <li><i class="fas fa-charging-station"></i> Charging Ports for Phones, etc. (Voltage: 220 V)</li>
  <li><i class="fas fa-bath"></i> Spotless Bathrooms with Free Toiletries</li>
  <li><i class="fas fa-wind"></i> Centrally Air Conditioned Premises</li>
  <li><i class="fas fa-curtains"></i> Neutral-Colored Noise Reducing Curtains</li>
  <li><i class="fas fa-bed"></i> Immaculate Bedding</li>
  <li><i class="fas fa-utensils"></i> Rooftop Restaurant</li>
  <li><i class="fas fa-swimming-pool"></i> Terrace Swimming Pool</li>
  <li><i class="fas fa-money-exchange"></i> Currency Exchange</li>
  <li><i class="fas fa-bell"></i> Wake-up Calls</li>
  <li><i class="fas fa-dumbbell"></i> On-Site Fitness Center</li>
  <li><i class="fas fa-briefcase"></i> Business Center with Printing Services</li>
  <li><i class="fas fa-tshirt"></i> Laundry and Dry Cleaning Services</li>
  <li><i class="fas fa-concierge-bell"></i> Concierge Assistance</li>
  <li><i class="fas fa-utensils"></i> Room Service</li>
  <li><i class="fas fa-parking"></i> Free Parking</li>
  <li><i class="fas fa-users"></i> Conference and Meeting Facilities</li>
</ul>



</div >
</div>

</div>
<div class="bg3" ></div>
<div class="block1" style="background-color:#faf5fa;" >
<h1 id="main-text3"> Celebrated Destinations You'll Adore ! </h1>
<div class="text-block" style="width:45% height:450px; margin:40px;">

<div class="scroll" style="height:440px;">
    <ul style="font-size:21px; ">
    <li>Marina Beach (Approx. 8 km) - Scenic urban beach with a vibrant atmosphere.</li>
    <li>Kapaleeshwarar Temple (Approx. 9 km) - Historic temple known for its stunning Dravidian architecture.</li>
    <li>San Thome Basilica (Approx. 10 km) - Roman Catholic basilica built over St. Thomas's tomb.</li>
    <li>Elliots Beach (Besant Nagar Beach) (Approx. 9 km) - Serene and less crowded beach with calm waters.</li>
    <li>Guindy National Park (Approx. 7 km) - Protected area with diverse wildlife.</li>
    <li>Semmozhi Poonga (Botanical Garden) (Approx. 12 km) - Lush botanical garden with a variety of plant species.</li>
    <li>Valluvar Kottam (Approx. 10 km) - Memorial dedicated to classical Tamil poet Thiruvalluvar.</li>
    <li>Fort St. George (Approx. 13 km) - Historic fort housing the Tamil Nadu Legislative Assembly and museum.</li>
    <li>Cholamandal Artists' Village (Approx. 18 km) - Artists' commune and gallery showcasing vibrant art exhibitions.</li>
    <li>DakshinaChitra Cultural Center (Approx. 15 km) - Living museum showcasing South Indian art and lifestyles.</li>
</ul>
</div >
</div>
    <div class="image-block" style="text-align:center;">
<img src="{% static 'home/slid6.jpg'%}" height="450" width="600" style="padding-top: 30px; padding-bottom: 30px; border-radius:80px;" >
</div>
</div>
<div class="block1" >
<h1 id="main-text4"> LOCATION </h1>
<div class="text-block" style="margin:40px; height:450px; font-size:25px">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15550.563884192528!2d80.22290367356892!3d12.994800254640479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526781f3ce0c6b%3A0x41368df84c6db350!2sIndian%20Institute%20Of%20Technology%2C%20Chennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1694905659364!5m2!1sen!2sin" style=" height:100%; width:100%; border:0; object-fit:cover;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</div >
<div class="text-block" style=" margin:40px; height:450px; padding:40px; font-size:25px">
    <h2>IIT Madras Address:</h2>
  <p>
    Indian Institute of Technology Madras (IIT Madras)<br>
    Sardar Patel Road, Guindy<br>
    Chennai, Tamil Nadu 600036<br>
    India
  </p>
</div>
</div>
{% endblock %}